<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz de Inicio</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
</head>

<body class="bg-gray-900 text-white">

    <header
        class="bg-gradient-to-r from-purple-800 via-pink-700 to-orange-600 w-full h-20 flex items-center justify-between px-6 md:px-16 shadow-lg">
        <button id="menu-btn" class="text-white text-4xl md:hidden focus:outline-none">
            ☰
        </button>
        <a href="{{ url_for('user.logout') }}"
            class="text-white text-lg font-semibold hover:text-blue-200 transition duration-300 absolute top-5 right-6">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-log-out">
                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                <polyline points="16 17 21 12 16 7" />
                <line x1="21" x2="9" y1="12" y2="12" />
            </svg>
        </a>


        <div id="mobile-menu"
            class="fixed top-0 left-0 h-full w-64 bg-gray-900 shadow-2xl transform -translate-x-full transition-transform duration-300 flex flex-col items-center py-6 space-y-2 border-r border-gray-700">

            <!-- Botón de cerrar -->
            <button id="close-menu" class="absolute top-4 right-4 text-white text-2xl">
                ✖
            </button>

            <!-- Elementos del menú con separadores -->

            <a href="{{ url_for('devi.devices') }}"
                class="text-white text-lg font-semibold hover:text-blue-300 transition duration-300 w-full text-center py-3 border-b border-gray-600">
                Devices
            </a>
            <a href="{{ url_for('add.assignment') }}"
                class="text-white text-lg font-semibold hover:text-green-300 transition duration-300 w-full text-center py-3 border-b border-gray-600 ">
                Assignment
            </a>
            <a href="{{ url_for('departament.departament') }}"
                class="text-white text-lg font-semibold hover:text-yellow-300 transition duration-300 w-full text-center py-3 border-b border-gray-600">
                Departments
            </a>
            <a href="{{ url_for('posi.position') }}"
                class="text-white text-lg font-semibold hover:text-cyan-300 transition duration-300 w-full text-center py-3 border-b border-gray-600">
                Position
            </a>
            <a href=""
                class="text-white text-lg font-semibold hover:text-red-300 transition duration-300 w-full text-center py-3 border-b border-gray-600">
                Profile
            </a>
            <a href="{{ url_for('user.logout') }}"
                class="text-white text-lg font-semibold hover:text-gray-300 transition duration-300 w-full text-center py-3 border-b border-gray-600">
                LogOut
            </a>
        </div>
        <ul id="menu" class="hidden md:flex space-x-6 text-lg font-semibold">
            <li class="hover:text-yellow-300 transition duration-300 cursor-pointer"><a
                    href="{{ url_for('devi.devices') }}">Devices</a></li>
            <li class="hover:text-green-300 transition duration-300 cursor-pointer"><a
                    href="{{ url_for('add.assignment') }}">Assignment</a></li>
            <li class="hover:text-blue-300 transition duration-300 cursor-pointer"><a
                    href="{{ url_for('departament.departament') }}">Departments</a></li>
            <li class="hover:text-cyan-300 transition duration-300 cursor-pointer"><a
                    href="{{ url_for('posi.position') }}">Position</a></li>

        </ul>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="w-full max-w-lg mb-4" id="flash-messages">
        {% for category, message in messages %}
        <div class="p-4 text-white rounded-lg text-center 
                              {% if category == 'error' %} bg-rose-600 
                              {% elif category == 'success' %} bg-emerald-500 
                              {% else %} bg-gray-700 {% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <body class="bg-gray-900 text-white p-6">
        <div class="container mx-auto mt-12">
            <div class="bg-gray-800 p-6 rounded-lg mb-8 shadow-lg">
                <h1 class="text-2xl font-bold flex items-center gap-2">
                    <i class="fas fa-desktop"></i> PC Inventory Dashboard
                </h1>
                <p class="text-gray-400">Manage and monitor your PC devices inventory</p>
            </div>

            <form id="deviceForm" method="POST" action="{{ url_for('homeSoport.selectd') }}">
                <div class="grid grid-cols-1 sm:grid-cols-3 gap-6 mb-8">
                    <!-- Formulario -->

                    <input type="hidden" name="selected_category" id="selectedCategory">

                    <!-- Total Devices -->
                    <div class="bg-gray-800 p-6 rounded-lg text-center shadow-md hover:scale-105 transition-transform duration-300 cursor-pointer"
                        onclick="submitForm('Total Devices')">
                        <i class="fas fa-laptop text-3xl text-blue-400 mb-2"></i>
                        <h3 class="text-xl font-bold">{{ cont_all_devices }}</h3>
                        <p class="text-gray-400 text-center">Available devices</p>
                    </div>
                    <!-- Total maintenance -->
                    <div class="bg-gray-800 p-6 rounded-lg text-center shadow-md hover:scale-105 transition-transform duration-300 cursor-pointer"
                        onclick="submitForm('Maintenance')">
                        <i class="fa-solid fa-screwdriver-wrench text-red-400 text-3xl"></i>
                        <h3 class="text-xl font-bold">{{ cont_maintenance }}</h3>
                        <p class="text-gray-400 text-center">Maintenance</p>
                    </div>
                    <!-- Total Users -->
                    <div class="bg-gray-800 p-6 rounded-lg text-center shadow-md hover:scale-105 transition-transform duration-300 cursor-pointer"
                        onclick="submitForm('Users')">
                        <i class="fa-solid fa-users text-xl text-green-400"></i>
                        <h3 class="text-xl font-bold">{{ cont_users }}</h3>
                        <p class="text-gray-400 text-center">Users</p>
                    </div>
                    <div class="bg-gray-800 p-6 rounded-lg text-center shadow-md hover:scale-105 transition-transform duration-300 cursor-pointer"
                        onclick="submitForm('Export')">
                        <i class="fa-solid fa-file text-3xl text-white mb-7"></i>
                        <p class="text-gray-400 text-center">Import and Export</p>
                    </div>

                </div>
            </form>




    </body>




    <script>
        document.getElementById("menu-btn").addEventListener("click", function () {
            document.getElementById("mobile-menu").classList.remove("-translate-x-full");
        });

        document.getElementById("close-menu").addEventListener("click", function () {
            document.getElementById("mobile-menu").classList.add("-translate-x-full");
        });

        function submitForm(category) {
            document.getElementById("selectedCategory").value = category;
            document.getElementById("deviceForm").submit();
        }
        setTimeout(() => {
        const flashMessages = document.getElementById("flash-messages");
        if (flashMessages) {
            flashMessages.style.transition = "opacity 0.5s";
            flashMessages.style.opacity = "0";
            setTimeout(() => flashMessages.remove(), 500);
        }
    }, 3000); 

    </script>
</body>

</html>